<p id="notice"><%= notice %></p>
<div class="maincontent">
  <div class="content_nav">
    <ul>
      <li><%= link_to 'Instructor', instructors_path %></li>
      <li>&gt;&gt;</li>
      <li ><p class="current"><%= @instructor.title %></p></li>

    </ul>
    <div class="clear"></div>
  </div>

  <div class="fashion_content_page2">
    <%= image_tag (@instructor.photo.url(:small) ), :class => "imge" %>

    <div class="fashion_content_page2_cnt"> <h2><%= @instructor.title %></h2>
      <p class="p1"><%= @instructor.sub_title %><span></span></p>
      <p class="p2"><%= @instructor.summary.html_safe %></p>
    </div>

    <div class="clear"></div>

    <a href="#"><img src="/assets/share.jpg" width="64" height="25" alt="share" align='right'></a>

    <div class="clear"></div>

  </div>

  <div class = 'videos'>
    <h2> <%= @instructor.lessons.count %> video(s) by <%= @instructor.title %> </h2>
    <% @instructor.lessons.each do |lesson| %>
        <div class="box1">
          <%= link_to "#{image_tag (lesson.photo.url(:small)), :width => '142px', :height => '150px', :border => 0, :float => 'left' }".html_safe, lesson %>
          <div class="inner-box">
            <span><%= lesson.title.html_safe if lesson.present?%></span>
            <div class ="clear"></div>
            <p><%= lesson.summary.html_safe if lesson.present?%>. </p>
            <div class ="clear"></div>
            <ul>
              <li><%=link_to "#{lesson.video_length}".html_safe, lesson, :class=>"icon1" if lesson.present? %></li>
              <li><%=link_to "#{lesson.action_steps}".html_safe, lesson, :class=>"icon2" if lesson.subscription == "Premium" && "Free" %></li>
              <li><%= link_to "#{ lesson.transcript}".html_safe, lesson, :class=>"icon3" if lesson.subscription =="Premium" && "Free" %></li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
    <% end %>
     <div class="clear"></div>
  </div>

  <div class="more-main">
    <span>More Instructors to Learn From</span>

    <div class="slider">
      <div id="show-instructors" style="">
        <% @instructors = Instructor.all(:order => "id DESC") %>
        <div id="carousel-horizontal">
          <ul id="carousel">
            <% @instructors.each do |instructor| %>
                <li><%= link_to (image_tag instructor.photo.url(:small), :id => "instructor#{instructor.id}", :style => "width: 130px; height: 170px").html_safe, instructor %>
                  <p><%= instructor.title.html_safe %></p>
                  <p id="subtitle"><%= instructor.sub_title.html_safe %></p>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <div class="content_nav">
    <ul>
      <li><%= link_to 'Instructor', instructors_path %></li>
      <li>&gt;&gt;</li>
      <li><p class="current"><%= @instructor.title %></p></li>

    </ul>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".step").hover(function() {
            $(this).find(".text").filter(':not(:animated)').animate({"top": "28px"}, "fast");
        }, function() {
            $(this).find(".text").animate({"top": "-130px"}, "fast");
        });


        $('#carousel').jcarousel({
            wrap: 'circular'
        });

    });


</script>