<p id="notice"><%= notice %></p>
<div class="maincontent">
    <div class="content_nav">
      <ul>
        <li><%= link_to 'Instructor', instructors_path %></li>
        <li>&gt;&gt;</li>
        <li><a class="current" href="#"><%= @instructor.title %></a></li>

      </ul>
      <div class="clear"></div>
    </div>
    <div class="fashion_content_page2">
      <%= image_tag (@instructor.photo.url(:small) ), :class => "imge" %>

      <div class="fashion_content_page2_cnt"> <h2><%= @instructor.title %></h2>
        <p class="p1"><%= @instructor.sub_title %><span>Shark Tank</span></p>
        <p class="p2"><%= @instructor.summary %></p>
      </div>

      <div class="clear"></div>

      <a href="#"><img src="/assets/share.jpg" width="64" height="25" alt="share" align='right'></a>

      <div class="clear"></div>

    </div>
  <div class = 'videos'>
    <h2><%= @instructor.lessons.count %> videos by <%= @instructor.title %> </h2>

  <%  @instructor.lessons.each do |c| %>

        <div class="box1">
          <%= image_tag (c.photo.url(:small) ), :class => "imge" %>
          <div class="inner-box">
            <span><%= c.vimeo_link if c.present?%></span>
            <p><%= c.summary if c.present?%>. </p>

            <ul>
              <li><a href="#" class="icon1"><%=link_to "#{c.video_length}", c if c.present? %></a></li>
              <li><a href="#" class="icon2"><%=link_to "#{c.action_steps}", c if c.present?%></a></li>
              <li><a href="#" class="icon3"><%= link_to "#{ c.transcript}", c if c.present?%></a></li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
  </div>
  <%end%>


</div>

