<p></p>
<!-- main content begins -->
<div id="main" class="container">    <br />
  <div id="main-header">
    <h1>Learn to succeed from some of the most<br /> successful people in the world - step by step</h1>
  </div>
  <div id="main-video">
    <div class="left">
      <p>Ever wonder how the world's top millionaires and entrepreneurs made it big? Now YOU can learn how they did it - directly from them.</p>
      <p id="text-discover">What's your passion? Discover it here!</p>
      <a href="#" id="btn-get-started"> f <span>|</span> Sign up with facebook </a></div>
    <div class="right"><!-- video goes here --> <iframe width="494" height="280" src="http://www.youtube.com/embed/fLPl9KfXmbo" frameborder="0" allowfullscreen=""></iframe> <!-- video ends --></div>
  </div>
  <div id="main-as-seen"><img src="/assets/logos.gif" /></div>
  <div id="main-instructors">
    <h2>Meet your ultra-successful instructors</h2>
    <p>Each course at Lessons On Becoming A Millionaire is taught by a group of absolute powerhouses in that industry.<br /> Not only will you know who they are and what they've done, but you can rest assured that they know their stuff.</p>
    <h3>Instructors include:</h3>
    <div class="instructors">
      <div id="carousel-horizontal">
        <ul id="carousel">
          <% @instructors.each do |instructor| %>
              <li><%= link_to (image_tag instructor.photo.url(:small), :id => "instructor#{instructor.id}", :style => "width: 158px; height: 200px").html_safe, instructor %>
                <p><%= instructor.title.html_safe %></p>
                <p id="subtitle"><%= instructor.sub_title.html_safe %></p>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <p>(Scroll through, or click to see details)</p>
  </div>

  <div id="main-how-it-works">
    <h2>Here's how it works</h2>
    <div class="steps"><!-- first step -->
      <div class="step" id="step1">
        <h3><span> 1. </span> Ignite Your Passion</h3>
        <img src="/assets/icon10.png" />
        <div class="wrap">
          <div class="text">
            <p>Let's be honest... Making money is great. But do you know what's even better? Making money doing something you absolutely love. We'll help you discover your passion to ensure everything you do from here on helps you build a life of both wealth AND happiness.</p>
          </div>
        </div>
      </div>
      <!-- first step ends --> <!-- second step -->
      <div class="step" id="step2">
        <h3><span> 2. </span> Choose A Course</h3>
        <img src="/assets/icon11.png" />
        <div class="wrap">
          <div class="text">
            <p>Once you've found your passion, it's time to learn how to make money from it! Not only do we offer step by step courses teaching just that, but each course is taught by people who have already made millions in that industry. When it comes to building the life you want, start here!</p>
          </div>
        </div>
      </div>
      <!-- second step ends --> <!-- third step -->
      <div class="step" id="step3">
        <h3><span> 3. </span> Complete The Steps</h3>
        <img src="/assets/icon12.png" />
        <div class="wrap">
          <div class="text">
            <p>So you've found your passion and you've chosen a course. Now your path is simple: follow the steps, learn the lessons we're teaching, and take action when we tell you to! When you finish, you'll have a fully-functional company you can start making money from right away!</p>
          </div>
        </div>
      </div>
      <!-- third step ends --> <!-- fourth step -->
      <div class="step" id="step4">
        <h3><span> 4. </span> Become A Star</h3>
        <img src="/assets/icon13.png" />
        <div class="wrap">
          <div class="text">
            <p>Now that you've learned how to make money doing something you love from the best in the business, it's time for you to keep building on it! We also offer a full line of courses teaching you to take your existing company to new levels of profitability and efficiency - fast.</p>
          </div>
        </div>
      </div>
      <!-- fourth step ends --></div>
  </div>
  <div class="catagory">
    <div class="sub_catagory">
      <h5 class="header_catagory">The roadmap ot success written by the best of the best</h5>
      <p class="p_catagory">
        Just watch the videos, follow the instructions bellow it, complete the tasks for each step, and by the end of the course, you'll have a fully-functional company you can start making money.
      </p>
    </div>
    <div class="sub_catagory">

      <img src="/assets/tv_img.png" alt="" class="img_catagory" />
      <div class="clear"></div> <br /> <br />
    </div>
  </div>



  <div class="catagory">
    <div class="sub_catagory">
      <img src="/assets/marque.png" alt="" class="img_catagory_tag" />
    </div>

    <div class="sub_catagory">
      <h5 class="header_catagory_fashion">Learn to start a successful <span>fashion</span> company from a pro</h5> <div class="clear"></div><br />
      <p class="p_catagory_fashion">our instructors are effective, passionate enterpreneurs who have already made it big in their chosen industry.Now they're sharing their expertise in dozens of topics with you </p>
    </div>

  </div>
  <div class="clear"></div><br /> <br />

<div class="catagory">
  <div class="sub_catagory">
    <img src="/assets/iphone_ipad.png" alt="" />
  </div>
  <div class="sub_catagory">
    <h5 class="heaader_text_h5">Desktop, mobile, and
      tablet access</h5>
    <ul class="list_text">
      <li>Mobile site and free app for iPhone and iPad</li>
      <li>Access all content from your mobile device</li>
      <li>Switch devices back and forth without a hitch</li>
    </ul>
    <img src="/assets/logo_iphone.png" alt="" class="coll_img" />
  </div>
</div>


<div class="new-catagory">
  <% instructors = @instructors.sample(6) %>
  <h2 class="text_h2">Check out some of our newest videos...</h2><br /><br />
  <% instructors.each do |instructor| %>
      <div class="sub_content_div">
        <%= link_to (image_tag instructor.photo.url(:small), :style => "width: 209px; height: 149px;", :class => "scoll").html_safe, instructor %>
        <h5 class="text_color"><%= instructor.sub_title.html_safe %></h5>
      </div>
  <% end %>

  <%= link_to "See more >>", instructors_path, :class => "see-more", :style => "color:#004a80;" %>

</div>




<div id="main-testimonials">
  <h2>Hear what people have been saying...</h2>
  <div class="testimonials">
    <div class="testimonial left"><img src="/assets/testimonial.jpg" />
      <div class="testimonial-content">
        <div class="testimonial-text"><img src="/assets/quotes.gif" />This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial.</div>
        <div class="testimonial-meta"><span class="testimonial-name">Testimonial Name</span> <span class="testimonial-company">Testimonial Company</span></div>
      </div>
    </div>
    <div class="testimonial right"><img src="/assets/testimonial.jpg" />
      <div class="testimonial-content">
        <div class="testimonial-text"><img src="/assets/quotes.gif" />This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial.</div>
        <div class="testimonial-meta"><span class="testimonial-name">Testimonial Name</span> <span class="testimonial-company">Testimonial Company</span></div>
      </div>
    </div>
    <div class="testimonial left"><img src="/assets/testimonial.jpg" />
      <div class="testimonial-content">
        <div class="testimonial-text"><img src="/assets/quotes.gif" />This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial.</div>
        <div class="testimonial-meta"><span class="testimonial-name">Testimonial Name</span> <span class="testimonial-company">Testimonial Company</span></div>
      </div>
    </div>
    <div class="testimonial right"><img src="/assets/testimonial.jpg" />
      <div class="testimonial-content">
        <div class="testimonial-text"><img src="/assets/quotes.gif" />This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial.</div>
        <div class="testimonial-meta"><span class="testimonial-name">Testimonial Name</span> <span class="testimonial-company">Testimonial Company</span></div>
      </div>
    </div>
  </div>
</div>


<div id="main-cta"><a href="#" id="main-cta-link">Get Started</a></div>
<div id="main-questions">
  <h2>Common Questions and Awesome Answers</h2>
  <div class="row">
    <div class="col">
      <div class="question">
        <h3>If I have questions, is there somebody can I talk to?</h3>
        <p>Yes! We offer 24/7 live chat support for our customers so you can get the answers you need, when you need them. You can also email our support team.</p>
      </div>
      <div class="question">
        <h3>How does it work?</h3>
        <p>After you purchase, you'll be taken to a screen where you make your login info. From there, you can log into your member portal at the URL we give you. Then just log in, watch the first video, and follow the instructions!</p>
      </div>
      <div class="question">
        <h3>What do I get with your courses?</h3>
        <p>Each course maps out a step-by-step path to success outlined by your instructors, including streaming and downloadable video and audio, written lessons, worksheets, task lists, and referrals to other resources throughout the course. When you're done, you'll own a fully functional company!</p>
      </div>
      <div class="question">
        <h3>Will I be able to interact with the instructors?</h3>
        <p>Your instructors are extremely busy running major companies, so we can't guarantee you'll be able to directly interact with them after purchasing a course - but after purchasing, you'll be periodically invited to participate in special webinars and events where you CAN interact with them, so be on the lookout!</p>
      </div>
    </div>
    <div class="col">
      <div class="question">
        <h3>Are there any contracts?</h3>
        <p>Nope! There are no long-term contracts or commitments. Once you purchase access to a course, it's yours forever!</p>
      </div>
      <div class="question">
        <h3>Can I put my course on my mobile device?</h3>
        <p>Yes! All our content has a download option - so feel free to throw it on your iPhone, iPad, Android, tablet or mobile device so you can learn on the go! Of course if you have any issues, let us know!</p>
      </div>
      <div class="question">
        <h3>Will I become a millionaire?</h3>
        <p>As with any product like this, we can't guarantee you'll become a millionaire just by purchasing this course. However, if you actually follow the curriculum we provide, you'll be significantly increasing your chances of seeing high-levels of success as you're learning from the people who have already done it!</p>
      </div>
      <div class="question">
        <h3>If I don't like my course, what do I do?</h3>
        <p>In the unlikely event you don't find that your Lessons On Becoming A Millionaire course is what you were looking for, we do offer a 60-day money-back guarantee with all of our courses. However, know that the chances of you not getting what you wanted are very slim!</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- main content begins -->
<p></p>

<div id="overlay"></div>
<!-- popup for instructor1 begins -->
<div class="popup" id="popup1">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor1 ends -->
<p></p>
<!-- popup for instructor2 begins -->
<div class="popup" id="popup2">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor2 ends -->
<p></p>
<!-- popup for instructor3 begins -->
<div class="popup" id="popup3">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor3 ends -->
<p></p>
<!-- popup for instructor4 begins -->
<div class="popup" id="popup4">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor4 ends -->
<p></p>
<!-- popup for instructor5 begins -->
<div class="popup" id="popup5">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor5 ends -->
<p></p>
<!-- popup for instructor6 begins -->
<div class="popup" id="popup6">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor6 ends -->
<p></p>
<!-- popup for instructor7 begins -->
<div class="popup" id="popup7">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor7 ends -->
<p></p>
<!-- popup for instructor8 begins -->
<div class="popup" id="popup8">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor8 ends -->
<p></p>
<!-- popup for instructor9 begins -->
<div class="popup" id="popup9">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor9 ends -->
<p></p>
<!-- popup for instructor10 begins -->
<div class="popup" id="popup10">
  <div class="popup-close"></div>
  <div class="popup-image"><img src="/assets/popup-placeholder.png" /></div>
  <div class="popup-content">
    <div class="popup-text">
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
      <p>This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor. This is summary text on the instructor.</p>
    </div>
    <h3>Instructor in:</h3>
    <div class="popup-courses">
      <div class="popup-course"><img src="/assets/mmif2.jpg" />
        <h4>Making Money<br /> in Fitness</h4>
      </div>
      <div class="popup-course"><img src="/assets/ff2.jpg" />
        <h4>Finding<br /> Funding</h4>
      </div>
      <div class="popup-course"><img src="/assets/bafs2.jpg" />
        <h4>Build Apps<br /> From Scratch</h4>
      </div>
    </div>
  </div>
</div>
<!-- popup for instructor10 ends -->
<p></p>
<div id = "placeholder"></div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".step").hover(function() {
            $(this).find(".text").filter(':not(:animated)').animate({"top": "28px"}, "fast");
        }, function() {
            $(this).find(".text").animate({"top": "-130px"}, "fast");
        });


        $('#carousel').jcarousel({
            wrap: 'circular'
        });

    });


</script>