<div class="inwrap">
  <h2 class="text_h2">Learn to succeed from some of the most successful people in the world - step by step </h2>
  <div class="video_share">
    <div class="text_share">
      <p class="text_share_P">Ever wonder how the world's top millionaires and entrepreneurs made it bog, Now YOU can team how they did rt direcUy from them.</p>
      <%= link_to  image_tag('/assets/fb_share.png', :class=>'text_share_img'), user_omniauth_authorize_path(:facebook) %>
    </div>
    <div class="video">
      <iframe title="YouTube video player" width="450" height="255" src="http://www.youtube.com/embed/6X3zUh8RqbY" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <p class="text_item_p">seen in:</p>
  <ul class="list_item">
    <li>The new york times</li>
    <li>THE WALL STREET JOURNAL</li>
    <li>TeahCrunch</li>
    <li>Mashable</li>
  </ul>

  <h5 class="text_h5">Meet your ultra-successful instructors</h5>
  <p class="text_p">Each course at lesson on becoming A Millionair is taught by a group of absolute powerhouses in that industry.Not only will you know they are what they've done, but you can rest assured they know their stuff</p>
  <div class="more-instructor">
    <span></span>

    <div class="slider">
      <% @instructors = Instructor.all(:limit => 4)  %>
      <% @instructors.each do |instructor|%>
          <div class="box4">
            <%= link_to "#{image_tag (instructor.photo.url(:small)), :width => '102px', :height => '142px' }".html_safe, instructor %>
            <p><%= instructor.title %></p>
            <span>Founder, Dyrdek Enterprises</span>
          </div>
      <% end %>


      <div class="clear"></div>

      <div class="arrows">
        <a href="#"><img src="/assets/arrow1.png" width="33" height="57" alt="arrow1"></a>
        <a href="#" class="right"><img src="/assets/arrow2.png" width="33" height="57" alt="arrow2"></a>
      </div>
    </div>
  </div>





  </div>


<div id="main-how-it-works">
  <h2>Here's how it works</h2>
  <div class="category_img">
    <div class="steps"><!-- first step -->
      <div class="step" id="step1">
        <h3><span> 1. </span> Ignite Your Passion</h3>
        <img src="/assets/icon10.png">
        <div class="wrap">
          <div class="text" style="top: -130px;">
            <p>Let's be honest... Making money is great. But do you know what's even better? Making money doing something you absolutely love. We'll help you discover your passion to ensure everything you do from here on helps you build a life of both wealth AND happiness.</p>
          </div>
        </div>
      </div>
      <!-- first step ends --> <!-- second step -->
      <div class="step" id="step2">
        <h3><span> 2. </span> Choose A Course</h3>
        <img src="/assets/icon11.png">
        <div class="wrap">
          <div class="text" style="top: -130px;">
            <p>Once you've found your passion, it's time to learn how to make money from it! Not only do we offer step by step courses teaching just that, but each course is taught by people who have already made millions in that industry. When it comes to building the life you want, start here!</p>
          </div>
        </div>
      </div>
      <!-- second step ends --> <!-- third step -->
      <div class="step" id="step3">
        <h3><span> 3. </span> Complete The Steps</h3>
        <img src="/assets/icon12.png">
        <div class="wrap">
          <div class="text" style="top: -130px;">
            <p>So you've found your passion and you've chosen a course. Now your path is simple: follow the steps, learn the lessons we're teaching, and take action when we tell you to! When you finish, you'll have a fully-functional company you can start making money from right away!</p>
          </div>
        </div>
      </div>
      <!-- third step ends --> <!-- fourth step -->
      <div class="step" id="step4">
        <h3><span> 4. </span> Become A Star</h3>
        <img src="/assets/icon13.png">
        <div class="wrap">
          <div class="text" style="top: -130px;">
            <p>Now that you've learned how to make money doing something you love from the best in the business, it's time for you to keep building on it! We also offer a full line of courses teaching you to take your existing company to new levels of profitability and efficiency - fast.</p>
          </div>
        </div>
      </div>
      <!-- fourth step ends --></div>
  </div>

</div>


  <div class="catagory">
    <div class="sub_catagory">
      <h5 class="header_catagory">The roadmap ot success written by the best of the best</h5>
      <p class="p_catagory">walth the WOOS. 1Clow the onstrucCons babe 4, compkge the te0.s Soc each stop. end by the ond tho course. youl haw a tuZy.!unctorsra company you can Mai nsnkeso money from
      </p>
    </div>
    <div class="sub_catagory">

      <img src="/assets/tv_img.png" alt="" class="img_catagory" />
    </div>
  </div>
  <div class="sub_catagory">
    <h5 class="header_catagory_fashion">Learn to start a successful <span>fashion</span> company from a pro</h5>
    <p class="p_catagory_fashion">walth the WOOS. 1Clow the onstrucCons babe 4, compkge the te0.s Soc each stop. end by the ond tho course. youl haw a tuZy.!unctorsra company you can Mai nsnkeso money from </p>
  <img src="/assets/marque.png" alt="" class="img_catagory_tag" />
  </div>
  <div class="catagory">

  </div>
  <div id="main-covered">
      <h2>No matter how you learn best, we’ve got you covered</h2>
      <div class="row">
        <div class="col"><img src="/assets/content_img.png"> <br /> <br />

          <h3>Just Follow The Steps</h3> <br />
          <p>Each of our courses is presented in a rich-media, step by step format. Simply follow the steps we lay out, take action when we tell you to, and take advantage of the resources we provide you with and by the end, you’l have a fully-functional company that you built and understand!</p>
        </div>
        <div class="col"><img src="/assets/content_img2.png">  <br /> <br />
          <h3>Many Ways To Learn</h3> <br />
          <p>Are you one of those people who hates to read? Don’t worry, we
            provide you with both streaming AND downloadable video to better capture your attention. Want to learn while you do other things? Our streaming and downloadable audio can help you there. Love to read? We’ve got that as well!</p>
        </div>
        <div class="col"><img src="/assets/content_img4.png"> <br /> <br />
          <h3>Don’t Be Left Hanging</h3> <br />
          <p>Other courses and resources give you canned info, then just leave it all up to you to figure out from there. We don’t do that. Once you complete your course, we point you in the right direction to keep learning from the best. With supplementary courses, webinars, retreats and more, we’ve got it all!</p>
        </div>
      </div>
  </div>



  <div class="catagory">
    <div class="sub_catagory">
      <img src="/assets/iphone_ipad.png" alt="" width="335px" />
    </div>
    <div class="sub_catagory">
      <h5 class="heaader_text_h5">Desktop, mobile, and
        tablet access</h5>
      <ul class="list_text">
        <li>Mobile site and free app for iPhone and iPad</li>
        <li>Access all content from your mobile device</li>
        <li>Switch devices back and forth without a hitch</li>
        <div class="clear"></div> <br />
      </ul>
      <img src="/assets/logo_iphone.png" alt="" class="coll_img" />
    </div>
    <div class="clear"></div> <br />


  </div>






  <div class="catagory">
    <h2 class="text_h2">Check out some of our newest videos...</h2>
    <div class="clear"></div>  <br />
    <div id="content-like">



      <% @newest_lesson = @lessons.sort_by{|s| -s[:id]} %>
      <ul>
        <% @newest_lesson.each do |new_lesson| %>
            <li>
              <%= link_to "#{image_tag (new_lesson.photo.url(:small)), :width => '159', :height => '79', :alt => "video" }<span> #{new_lesson.title}".html_safe, new_lesson %>
            </li>
        <%end%>

      </ul>
      <div class="clear"> </div>

    </div>



  <div class="catagory">
    <h2 class="text_h2">Hear what people have been saying...</h2>
    <div class="sub_blog_text">
      <img src="/assets/man_pic.png" alt="" class="aline_img_l" />
      <p class="sub_blog_text_p"><img src="/assets/cotation.png" alt="" />This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial.
      </p>
      <p class="sub_blog_text_p2"><strong>Testimonial Name</strong> CompanyName.com</p>
    </div>

    <div class="sub_blog_text">
      <img src="/assets/man_pic.png" alt="" class="aline_img_r" />
      <p class="sub_blog_text_p_r"><img src="/assets/cotation.png" alt="" />This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial.
      </p>
      <p class="sub_blog_text_p2_r"><strong>Testimonial Name</strong> CompanyName.com</p>
    </div>
    <div class="sub_blog_text">
      <img src="/assets/man_pic.png" alt="" class="aline_img_l" />
      <p class="sub_blog_text_p"><img src="/assets/cotation.png" alt="" />This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial.
      </p>
      <p class="sub_blog_text_p2"><strong>Testimonial Name</strong> CompanyName.com</p>
    </div>

    <div class="sub_blog_text">
      <img src="/assets/man_pic.png" alt="" class="aline_img_r" />
      <p class="sub_blog_text_p_r"><img src="/assets/cotation.png" alt="" />This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial. This is a sample testimonial.
      </p>
      <p class="sub_blog_text_p2_r"><strong>Testimonial Name</strong> CompanyName.com</p>
    </div>
     <br />
  </div>
  <div class="catagory">
    <%= link_to  image_tag('/assets/fb_share.png',  :class => 'share_fb' ), user_omniauth_authorize_path(:facebook) %>
  </div>
  <div class="faq-answer">
    <h2 class="text_h2">Common Questions and Awesome Answers</h2> <div class="clear"></div> <br />
    <div class="sub_faq_answer">
      <h5 class="text_header_con">If I have questions, is there somebody can I talk to?</h5>
      <p class="text_paragaf_con">Yes! We offer 24/7 live chat support for our customers so you can get the answers you need, when you need them. You can also email our support team.
      </p>
      <h5 class="text_header_con">How does it work?</h5>
      <p class="text_paragaf_con">After you purchase, you'll be taken to a screen where you make your login info. From there, you can log into your member portal at the URL we give you. Then just log in, watch the first video, and follow the instructions!</p>
      <h5 class="text_header_con">What do I get with your courses?</h5>
      <p class="text_paragaf_con">Each course maps out a step-by-step path to success
        outlined by your instructors, including streaming and
        downloadable video and audio, written lessons, worksheets, task lists, and referrals to other resources throughout the course. When you're done, you'll own a fully functional
        company!</p>
      <h5 class="text_header_con">Will I be able to interact with the instructors?</h5>
      <p class="text_paragaf_con">Your instructors are extremely busy running major companies, so we can't guarantee you'll be able to directly interact with them after purchasing a course - but after purchasing, you'll be periodically invited to participate in special webinars and events where you CAN interact with them, so be on the
        lookout!
      </p>
    </div>
    <div class="sub_faq_answer">
      <h5 class="text_header_con">Are there any contracts?</h5>
      <p class="text_paragaf_con">Nope! There are no long-term contracts or commitments. Once you purchase access to a course, it's yours forever!
      </p>
      <h5 class="text_header_con">Can I put my course on my mobile device?</h5>
      <p class="text_paragaf_con">Yes! All our content has a download option - so feel free to throw it on your iPhone, iPad, Android, tablet or mobile device so you can learn on the go! Of course if you have any issues, let us know!</p>
      <h5 class="text_header_con">Will I become a millionaire?</h5>
      <p class="text_paragaf_con">As with any product like this, we can't guarantee you'll become a millionaire just by purchasing this course. However, if you actually follow the curriculum we provide, you'll be significantly increasing your chances of seeing high-levels of success as you're learning from the people who have already done it!
      </p>
      <h5 class="text_header_con">If I don't like my course, what do I do?</h5>
      <p class="text_paragaf_con">In the unlikely event you don't find that your Lessons On
        Becoming A Millionaire course is what you were looking for, we do offer a 60-day money-back guarantee with all of our courses. However, know that the chances of you not getting what you wanted are very slim!</p>
    </div>
    <div class="catagory">
    </div>

  </div>
    <div class = "clear"></div>
</div>
</div>

<script type="text/javascript">

    $(".step").hover(function() {
        $(this).find(".text").filter(':not(:animated)').animate({"top": "28px"}, "fast");
    }, function() {
        $(this).find(".text").animate({"top": "-130px"}, "fast");
    });
</script>