<%= semantic_nested_form_for [:admin, @lesson] do |f| %>
    <%= f.inputs do %>
        <%= f.input :title, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :vimeo_link, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :video_length, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :summary, :as => :text, :wrapper_html => {:style => 'width: 56%'} %>

        <%#= f.input :category, :as => :select, :collection => Category.all.collect {|c| [c.title, c.id]}, :prompt => 'Select a Category', :wrapper_html => {:style => 'width: 56%'} %>

        <li class="string input required stringish" id="instructor_lessons_input"><p class="category-label">Instructor</p></li>

        <div class="category-input">
          <%= f.semantic_fields_for :instructor_lessons do |instructor| %>
              <li class="select input required" ><%= instructor.collection_select(:instructor_id, Instructor.all, :id, :title, :multiple => true, :prompt => "Please select the instructor", :label => "Instructor",  :class => 'my-custom-class', :wrapper_html => {:style => 'width: 56%', :class =>'select-category'}) %>
                <%= instructor.link_to_remove "Remove this category" %></li>
          <% end %>
          <div class="add"><%= f.link_to_add "Add a instructor", :instructor_lessons %></div>
        </div>

        <li class="string input required stringish" id="instructor_lessons_input"><p class="category-label">Category</p></li>

        <div class="category-input">
          <%= f.semantic_fields_for :category_lessons do |category| %>
              <li class="select input required" ><%= category.collection_select(:category_id, Category.all, :id, :title, :multiple => true, :prompt => "Please select the category", :label => "Category",  :class => 'my-custom-class', :wrapper_html => {:style => 'width: 56%', :class =>'select-category'}) %>
                <%= category.link_to_remove "Remove this category" %></li>
          <% end %>
          <div class="add"><%= f.link_to_add "Add a category", :category_lessons %></div>
        </div>


        <%#= f.input :instructor, :as => :select, :collection => Instructor.all.collect {|i| [i.title, i.id]}, :prompt => 'Select an Instructor', :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :action_steps, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :transcript, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :faq, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :subscription, :as => :select ,:collection => ['Free','Premium'], :prompt => "Select subscription type", :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :photo, :wrapper_html => {:style => 'width: 56%'}, :label => "Upload thumbnail" %>
    <% end %>

    <%= f.actions do %>
        <li class="cancel"><%= link_to 'Cancel', :back %></li>
        <%= f.action :submit %>
    <% end %>
<% end %>