<p id="notice"><%= notice %></p>


<%- model_class = Lesson -%>

<div class="container2">
  <!-- maincontent Starts -->
  <div class="main_content">
    <div class="content_nav">
      <ul>
        <li><%= link_to "All courses", courses_path %></li>
        <li>&gt;&gt;</li>
        <li><%= link_to "#{@lesson.categories.first.title}".html_safe, @lesson.categories.first %></li>
        <li>&gt;&gt;</li>
        <li><%= link_to "#{@lesson.categories.first.sub_categories.first.title}", @lesson.categories.first.sub_categories.first %></li>
        <li>&gt;&gt;</li>
        <li><%= @lesson.title %></li>
      </ul>
      <div class="clear"></div>
    </div>

    <div class="diamondjohn">
      <h2><%= @lesson.title if @lesson.title.present? %></h2>
      <p class="p1">Uploaded <%= (@lesson.created_at).strftime('%b %d %Y') %>&nbsp;&nbsp;&nbsp;<%= @lesson.video_length + "s" %></p>

      <a href="#"><img src="/assets/share.jpg" width="95" height="28" alt="share" align="right"></a>
      <div class="clear"></div>
    </div>
    <div class="pop_up">
      <% if @lesson.subscription == "Free" %>
        <iframe width="725" height="480" src="<%= "#{@lesson.vimeo_link}" + "?wmode=transparent" %>" frameborder="0" allowfullscreen=""></iframe>
      <% else %>
        <%= flash[:notice ]= "you need premium account to see this video" %>
      <% end %>
    </div>

    <div class="scroll_div">
      <h4>Course Curriculum</h4>
      <ul>

        <% raw (@lessons = Lesson.where('subscription = ?', "free")) %>
        <% if @lessons.present? %>
            <% @lessons.each do |lesson| %>
                <li><p class="title2"><%= link_to "#{lesson.title}", lesson, :class => "title2" %></p><p class="duration2"><%= lesson.video_length %></p><div class="clear"></div></li>
            <% end %>


        <% end %>



      </ul>
      <div class="clear"></div>
    </div>
    <div class="tab_cnt">

      <ul>
        <li><a href="#tabs-1">Overview </a></li>
        <li><a href="#tabs-2">Action Steps </a></li>
        <li><a href="#tabs-3">Transcript</a></li>
        <li><a class="no_bdr" href="#tabs-4">FAQ</a></li>
      </ul>






      <div class="clear"></div>
      <div id="pos">
      </div>
      <div class="tab_container"   >

        <div id="tabs-1">
              <h5>
                <%= @lesson.title %>
              </h5>
              <p><%= @lesson.title %></p>
              <% @lesson.categories.each do |category| %>
                  <%= link_to "#{category.title}", category, :class => "links1" %>

              <% end %>
              <div class="clear"></div>
        </div>

        <div id="tabs-2">
          <p> <%= @lesson.action_steps %> </p>
          <div class="clear"></div>
        </div>

        <div id="tabs-3">
          <p><%= @lesson.transcript %></p>
        </div>

        <div id="tabs-4">
          <p><%= @lesson.faq %></p>

        </div>








      </div>
    </div>
    <div class="clear"></div>
    <div class="suggested_videos">
      <%@lessons = Lesson.where("title like :search ", search: "%#{@lesson.title}%", :limit => 4)%>

      <h5>Suggested Videos to Watch Next</h5>
      <ul>
        <% @lessons.each do |lesson| %>

           <li><%= link_to("#{image_tag (lesson.photo.url(:small))}".html_safe,lesson)  %><span><%= lesson.title %></span></li>

        <% end %>
      </ul>

      <div class="clear"></div>
    </div>

    <div class="content_nav">
      <ul>
        <li><%= link_to "All courses", courses_path %></li>
        <li>&gt;&gt;</li>
        <li><%= link_to "#{@lesson.categories.first.title}".html_safe, @lesson.categories.first %></li>
        <li>&gt;&gt;</li>
        <li><%= link_to "#{@lesson.categories.first.sub_categories.first.title}", @lesson.categories.first.sub_categories.first %></li>
        <li>&gt;&gt;</li>
        <li><%= @lesson.title %></li>
      </ul>
      <div class="clear"></div>
    </div>

  </div>
  <!-- maincontent ends -->

</div>


<script type="text/javascript">
    $(function() {
        $( ".tab_cnt" ).tabs();
    });

    function scollPos() {
        var div = document.getElementById("tabs-1").scrollTop;
        document.getElementById("pos").innerHTML = div;
    }

</script>




<%#= link_to 'Edit', edit_lesson_path(@lesson) %>
<%#= link_to 'Back', lessons_path %>
