<%= semantic_form_for [:admin, @sub_category] do |f| %>
    <%= f.inputs do %>
        <%= f.input :category, :as => :select, :collection => Category.all.collect {|c| [c.title, c.id]}, :prompt => 'Select category', :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :title, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :sub_title, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :summary, :wrapper_html => {:style => 'width: 56%'} %>
    <% end %>

    <%= f.actions do %>
        <li class="cancel"><%= link_to 'Cancel', :back %></li>
        <%= f.action :submit %>
    <% end %>
<% end %>