<%= semantic_nested_form_for [:admin, @course] do |f| %>
    <% @form_object = f %>
    <%= f.inputs do %>
        <%= f.input :title, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :sub_title, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :summary, :wrapper_html => {:style => 'width: 56%'} %>

        <%#= f.input :category_id, :as => :select, :collection => Category.all.collect { |c| [c.title, c.id] }, :prompt => 'Select category', :label => "Category", :wrapper_html => {:style => 'width: 56%'} %>
        <%#= link_to "Add More", "javascript:void(0)", :class => 'course_category_ids' %>


        <li class="string input required stringish" id="category_courses_input"><p class="category-label">Category</p></li>
        <div class="category-input">
          <%= f.semantic_fields_for :category_courses do |category| %>
              <li class="select input required" ><%= category.collection_select(:category_id, Category.all, :id, :title, :multiple => true, :prompt => "Please select the category", :label => "Category",  :class => 'my-custom-class', :wrapper_html => {:style => 'width: 56%', :class =>'select-category'}) %>
              <%= category.link_to_remove "Remove this category" %></li>
          <% end %>
          <div class="add"><%= f.link_to_add "Add a category", :category_courses %></div>
        </div>

        <li class="string input required stringish" id="course_lessons_input"><p class="category-label">Lesson</p></li>
        <div class="category-input">
          <%= f.semantic_fields_for :course_lessons do |lesson| %>
              <li class="select input required" ><%= lesson.collection_select(:lesson_id, Lesson.all, :id, :title, :multiple => true, :prompt => "Please select the lesson", :label => "Category",  :class => 'my-custom-class', :wrapper_html => {:style => 'width: 56%', :class =>'select-category'}) %>
                <%= lesson.link_to_remove "Remove this category" %></li>
          <% end %>
          <div class="add"><%= f.link_to_add "Add a lesson", :course_lessons %></div>
        </div>

        <!--<li class="string input required stringish" id="course_instructor_input"><p class="category-label">Instructor</p></li>

        <div class="category-input">
          <%= f.semantic_fields_for :course_instructors do |instructor| %>
              <li class="select input required" ><%= instructor.collection_select(:instructor_id, Instructor.all, :id, :title, :multiple => true, :prompt => "Please select the category", :label => "Category",  :class => 'my-custom-class', :wrapper_html => {:style => 'width: 56%', :class =>'select-category'}) %>
              <%= instructor.link_to_remove "Remove this category" %></li>
          <% end %>
          <div class="add"><%= f.link_to_add "Add a instructor", :course_instructors %></div>
        </div>
-->
        <%= f.input :chapter, :wrapper_html => {:style => 'width: 56%'} %>
        <%= f.input :photo, :wrapper_html => {:style => 'width: 56%'} %>



        <%#= f.input :instructor_ids, :as => :select, :collection => Instructor.all.collect { |c| [c.title, c.id] }, :prompt => 'Select Instructor', :label => "Instructor", :wrapper_html => {:style => 'width: 56%'} %>
        <%#= f.input :lesson_ids, :as => :select, :collection => Lesson.all.collect { |c| [c.title, c.id] }, :prompt => 'Select Lesson', :label => "Lesson", :wrapper_html => {:style => 'width: 56%'} %>
    <% end %>

    <%= f.actions do %>
        <li class="cancel"><%= link_to 'Cancel', :back %></li>
        <%= f.action :submit %>
    <% end %>

<% end %>

<script type="text/javascript">
    $('.course_category_ids').click(function () {
        $("<li class=select input optional id=course_category_ids_input>" +
                "<select id=course_category_ids name=course[category_ids]>" +
                "<option value=>Select category</option>" +
                "<% Category.all.each do |category| %>" +
                "<option value=<%= category.id %> selected=selected><%= category.title %></option>" +
                "<% end %>" +
                "</select>" +
                "</li>").insertBefore(this);
    });
</script>
