<%- model_class = Course -%>

<div class="container2">
  <!-- maincontent Starts -->
  <div class="main_content">
    <div class="content_nav">
      <ul>
        <li><%= link_to "All courses", courses_path %></li>
        <li>&gt;&gt;</li>
        <li><%= link_to "#{@course.categories.first.title}".html_safe, @course.categories.first %></li>
        <li>&gt;&gt;</li>
        <li><%= link_to "#{@course.categories.first.sub_categories.first.title}", @course.categories.first.sub_categories.first %></li>
        <li>&gt;&gt;</li>
        <li><%= @course.title %></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="diamondjohn">
      <h2><%= @course.title if @course.title.present? %></h2>
      <p class="p1">Uploaded <%= (@course.created_at).strftime('%b %Y') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completed <%= (Time.now).strftime('%b %Y') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @course.lessons.first.video_length %></p>

      <a href="#"><img src="/assets/share.jpg" width="95" height="25" alt="share" align="right"></a>
      <div class="clear"></div>
    </div>
    <div class="pop_up">
      <a href="#"><%= image_tag @course.photo.url, :width=>"722", :height=>"405" %></a>
    </div>

    <div class="scroll_div">
      <h4>Course Curriculum</h4>
      <ul>

        <li class="title1"><p class="title1"><%= @course.chapter %></p><p class="duration1"></p> <div class="clear"></div></li>
        <% @course.lessons.each do |lesson| %>
            <li><p class= "title2"><%= link_to "#{lesson.title}" , lesson, :class => "title2" %></p> <p class="duration2"><%= lesson.video_length %></p><div class="clear"></div></li></li>  <%#if lesson.subscription.include? 'free'%>
        <% end %>

      </ul>
      <div class="clear"></div>
    </div>
    <div class="tab_cnt">

      <ul>
        <li><a href="#tabs-1">Overview </a></li>
        <li><a class="" href="#tabs-2">Action Steps </a></li>
        <li><a class="" href="#tabs-3">Transcript</a></li>
        <li><a class="no_bdr" href="#tabs-4">FAQ</a></li>
      </ul>






      <div class="clear"></div>
      <div class="tab_container" id="tabs-1">
               <h5>
                  <%= @course.lessons.first.instructors.first.title %>  <%#= lesson.category.title %>
                </h5>
                <p><%= @course.lessons.first.instructors.first.summary %></p>
                <label class="subject1">Subject:</label>
                <% @course.categories.each do |category| %>
                    <%= link_to "#{category.title}", category, :class => "links1" %>

                <% end %>

                <div class="clear"></div>

      </div>

      <div class="tab_container" id="tabs-2">
        <label class="instructor1">Action Step :</label>
        <a href="#" class="links1"><%= link_to "#{@course.lessons.first.action_steps}",@course.lessons.first %></a>
        <div class="clear"></div>
      </div>

      <div class="tab_container" id="tabs-3">
        <p><%= @course.lessons.first.transcript %></p>
      </div>

      <div class="tab_container" id="tabs-4">
        <p><%= @course.lessons.first.faq %></p>
      </div>




    </div>
    <div class="clear"></div>
    <div class="suggested_videos">
      <%@courses = Course.where("title like :search ", search: "%#{@course.title}%", :limit => 4)%>

      <h5>Suggested Videos to Watch Next</h5>
      <ul>
        <% @courses.each do |course| %>
            <% course.lessons.each do |lesson| %>
                <li><%= link_to("#{image_tag (lesson.photo.url(:small))}".html_safe,lesson)  %><span><%= lesson.title %></span></li>
            <% end %>

        <% end %>
      </ul>

      <div class="clear"></div>
    </div>
    <div class="content_nav">
      <ul>
        <li><%= link_to "All courses", courses_path %></li>
        <li>&gt;&gt;</li>
        <li><%= link_to "#{@course.categories.first.title}".html_safe, @course.categories.first %></li>
        <li>&gt;&gt;</li>
        <li><%= link_to "#{@course.categories.first.sub_categories.first.title}", @course.categories.first.sub_categories.first %></li>
        <li>&gt;&gt;</li>
        <li><%= @course.title %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <!-- maincontent ends -->

</div>


<script type="text/javascript">
    $(function() {
        $( ".tab_cnt" ).tabs();
    });
</script>