
<!-- maincontent Starts -->
<div class="main_content">
<div class="content_nav">
  <ul>
    <li><%= link_to 'Subject', categories_path %></li>
    <li>&gt;&gt;</li>
    <li ><p class="current"><%= @category.title %></p></li>

  </ul>
  <div class="clear"></div>
</div>
<p id="notice"><%= notice %></p>
<div class="fashion_content_page1">
  <h2><%= @category.title %></h2>
  <p class="p1"><%= @category.sub_title %><span></span></p>
  <p class="p2"><%= @category.summary %></p>
  <a href="#"><img src="/assets/share.jpg" width="64" height="25" alt="share" align='right'></a>
  <div class="clear"></div>
</div>



<div class="sidebar_page1">
  <p>Subjects</p>
  <ul class="subjects">
    <%  @categories = Category.all %>
    <% @categories.each do |subject| %>
        <li><%= link_to "#{subject.title} <span>(#{subject.lessons.count})</span>".html_safe, subject %></li>
    <% end %>


  </ul>

  <p>Instructors</p>

  <%  @instructors = Instructor.all %>
  <ul class="instructors">
    <% @instructors.each do |instructor| %>
        <li><%= link_to "#{instructor.title} <span>(#{instructor.lessons.count})</span>".html_safe, instructor %></li>
    <% end %>

  </ul>

</div>
<div class="left_content">
  <div class="fashion_courses">
    <h2> <%= @category.title %> Courses (<%= @category.courses.count %>) <%#= @category.title %> </h2>
    <p class="p1">We’ve created full courses you can follow step-by-step based on the content in this section.</p>
    <div class="getrich_content">


      <% @category.courses.each do |course| %>
          <%= link_to "#{image_tag (course.photo.url(:small)), :width => '118px', :height => '151px', :border => 0 }".html_safe, course %>
          <div class="txt_content">
            <h2><%= course.title if course.present?%></h2>
            <div class ="clear"></div>
            <p class="p2"><%= course.summary if course.present?%>. </p>
            <div class ="clear"></div>
            <p class="p3">
              Instructors: <% course.lessons.each do |lesson| %>
                  <% lesson.instructors.each do |instructor| %>
                      <%= link_to "<span>#{instructor.title + "," }</span>".html_safe , instructor %>
                  <% end %>
              <% end %>
      <% end %>
      </p>


      </div>
      <div class="clear"></div>
    </div>




  </div>
      <div class="subcategeories">
        <h2>Subcategories</h2>
        <p>Filter the content you see based on a more specific niche</p>

        <% @category.sub_categories.each do |sub_category| %>
            <ul>
              <li>
                <%= link_to "#{sub_category.title}".html_safe, sub_category %>(<span><%= "#{sub_category.category.lessons.count}" %></span>)
              </li>

            </ul>

        <% end %>
        <div class="clear"></div>
      </div>
      <div class="all_videos">
        <% @videos = Category.videos(@category.title) %>
        <h1>All <%= @category.title %> Videos</h1>
        <h3><%= @videos.count %> Total Videos </h3>
          <% @videos.each do |lesson| %>
            <div class="video_container">
                <div class="video_img">
                  <%= link_to "#{image_tag (lesson.photo.url(:small)), :width => '129', :height => '79'}".html_safe, lesson %>

                </div>
                <div class="video_cnt">
                    <h6><%= lesson.title %></h6>
                    <p><%= lesson.summary %></p>
                    <div class="timer">
                      <%= lesson.video_length %>
                    </div>
                    <div class="action">
                      <%= lesson.action_steps %>
                    </div>
                    <div class="transcription">
                      <%= lesson.transcript %>
                    </div>
                    <div class="clear"></div>
                </div>
                  <div class="clear"></div>
            </div>

       <% end %>

  </div>
  <a href="#" class="see_button">See next 10 videos</a>
</div>
<div class="clear"></div>
<div class="content_nav">
  <ul>
    <li><%= link_to 'Subject', categories_path %></li>
    <li>&gt;&gt;</li>
    <li><p class="current"><%= @category.title %></p></li>

  </ul>
  <div class="clear"></div>
</div>
</div>
<!-- maincontent ends -->
</div>

<script type="text/javascript">
    $('.more-main').jcarousel({
        wrap: 'circular'
    });
</script>
