<!DOCTYPE html>
<html>
<head>
  <title>LessonsOnBecomingAMillionaire</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "swfobject" ,"application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="main-container">
    <%= yield %>
</div>

<%= render 'layouts/footer'%>

</body>
</html>
